<%- include("../layouts/header"); -%>
    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/adminSideBar')%>
            </div>
            <div class="col col-9">
                <div class="card">
                    <p>
                        <span class="fw-bold text-dark fs-2">Archive's</span>
                        <a href="/admin" class="btn btn-sm btn-secondary ms-2">Go Back</a>
                    </p>
                    <% archive.forEach(e=>{ %>
                        <p>
                            <span class="fs-1 fw-medium">
                                <%=e.title %>
                            </span>

                            <a href="/admin/delete_product/<%=e._id%>?restore=1"
                                class="btn btn-sm btn-outline-secondary">Restore</a>

                            <a href="/admin/product/<%=e._id%>" class="btn btn-sm btn-outline-secondary">
                                <i class="bi bi-eye-fill"></i></a>
                            <% }) %>
                        </p>
                </div>
            </div>
        </div>
    </section>
    <%- include("../layouts/footer"); -%>