<%- include("../layouts/header"); -%>


    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/adminSideBar')%>
            </div>
            <div class="col col-9">
                <div class="container main-title">

                    <h2 class="page-title">Edit Industry</h2>
                    <a href="/admin/allcategories" class="btn btn-sm btn-secondary mt-2">Go Back</a>
                </div>
                <br>
                <div class="container">
                    <form method="post" action="/admin/category/<%=category._id%>?_method=PUT">
                        <div class="row">
                            <div class="col col-md-3">
                                <label for="nameofdepartment">Title</label>
                                <input class="form-control rounded-0" type="text" name="nameofdepartment"
                                    id="nameofdepartment" value="<%=category.nameofdepartment%>"
                                    placeholder="Add the department">
                            </div>
                            <div class="col col-md-3">
                                <label for="order">Order</label>
                                <input class="form-control rounded-0" type="number" name="order" id="order"
                                    value="<%=category.order%>" placeholder="Add the department">
                            </div>
                        </div>
                        <button class="btn btn-secondary mt-2 button-style" type="submit">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include("../layouts/footer"); -%>