<%- include("../layouts/header"); -%>

    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/adminSideBar')%>
            </div>
            <div class="col col-9">
                <div class="container main-title">
                    <h2 class="page-title">Edit Coupon</h2>
                    <a href="/coupon/all" class="btn btn-sm btn-secondary mt-2">Go Back</a>
                </div>
                <br />
                <div class="container table-style card">
                    <form method="post" action="/coupon/edit_coupon/<%=edit_coupon_code._id%>?_method=PUT">
                        <div class="row">
                            <div class="col col-md-4 col-xl-3">
                                <label for="coupon">Enter the coupon code</label>
                                <input class="form-control rounded-0" type="text" value="<%=edit_coupon_code.coupon %>"
                                    name="coupon" id="coupon" placeholder="Coupone Code">
                            </div>
                            <div class="col col-md-4 col-xl-3">
                                <label for="discountinpercentage">Discount (in %)</label>
                                <input class="form-control rounded-0" type="number"
                                    value="<%=edit_coupon_code.discountinpercentage%>" name="discountinpercentage"
                                    id="discountinpercentage" placeholder="Discount in percentages">
                            </div>

                            <div class="col col-md-4 col-xl-3">
                                <label for="discountinprice">Flat Discount (in $)</label>
                                <input class="form-control rounded-0" type="number"
                                    value="<%=edit_coupon_code.discountinprice%>" name="discountinprice" id="order"
                                    placeholder="Discount in prices">
                            </div>
                        </div>
                        <button class="btn btn-secondary mt-2 button-style" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include("../layouts/footer"); -%>