<%- include("../layouts/header"); -%>

    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/adminSideBar')%>
            </div>
            <div class="col col-9">
                <div class="container">
                    <a href="/admin/allProduct" class="btn btn-sm btn-secondary mb-3">Go Back</a>
                    <form method="POST" action="/admin/edit_product/<%= webinar._id%>?_method=PUT"
                        class="needs-validation" enctype="multipart/form-data" nonvalidate>
                        <div class="row">
                            <div class="col col-md-3 col-xl-4 mb-3">
                                <div class="input-group ">
                                    <label for="types" class="input-group-text rounded-0"
                                        style="height: 48px;">Type:</label>
                                    <select name="types" id="types" class="form-select rounded-0" style="height: 48px;">
                                        <% if(webinar.types=="Webinar" ) {%>
                                            <option value="Webinar" selected>Webinar</option>
                                            <option value="Seminar">Seminar</option>
                                            <% } else{ %>
                                                <option value="Webinar">Webinar</option>
                                                <option value="Seminar" selected>Seminar</option>
                                                <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-md-3 col-xl-4 mb-3">
                                <div class="input-group ">
                                    <label for="status" class="input-group-text rounded-0"
                                        style="height: 48px;">Status:</label>
                                    <select name="status" id="status" class="form-select rounded-0"
                                        style="height: 48px;">
                                        <% if(webinar.status=="Live" ){ %>
                                            <option value="Live" selected>Live</option>
                                            <option value="Recorded">Recorded</option>
                                            <% } else{%>
                                                <option value="Recorded" selected>Recorded</option>
                                                <option value="Live">Live</option>
                                                <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-md-3 col-xl-4 mb-3">
                                <div class="input-group ">
                                    <label for="nameofdepartment" class="input-group-text rounded-0"
                                        style="height: 48px;">Industry:</label>
                                    <select name="nameofdepartment" id="nameofdepartment" class="form-select rounded-0"
                                        style="height: 48px;">
                                        <% categories.forEach(function(cat){ %>
                                            <% if(webinar.category==cat.nameofdepartment){ %>
                                                <option value="<%=webinar.category %>" selected>
                                                    <%=cat.nameofdepartment %>
                                                </option>
                                                <% } else{%>
                                                    <option value="<%=cat.nameofdepartment %>">
                                                        <%=cat.nameofdepartment %>
                                                    </option>
                                                    <% } %>
                                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                            <div class="col col-md-3 col-xl-4 mb-3">
                                <div class="input-group ">
                                    <label for="name" class="input-group-text rounded-0"
                                        style="height: 48px;">Instructor:</label>
                                    <select name="name" id="name" class="form-select rounded-0" style="height: 48px;">
                                        <% portfolio.forEach(function(p){ %>
                                            <% if(webinar.name==p.name){ %>
                                                <option value="<%=p.name%>" selected>
                                                    <%=p.name%>
                                                </option>
                                                <% } else{%>
                                                    <option value="<%=p.name%>">
                                                        <%=p.name%>
                                                    </option>
                                                    <% } %>
                                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                            <div class="col col-md-4 col-xl-3 mb-3">
                                <label for="title" class="form-label">Title<sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control rounded-0" id="title" name="title"
                                    placeholder="Give a Title" required value="<%= webinar?.title%>">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col col-md-4 col-xl-3 mb-3">
                                <label for="webinartiming" class="form-label">Date<sup
                                        class="text-danger">*</sup></label>
                                <input type="date" class="form-control rounded-0" id="webinartiming"
                                    name="webinartiming" value="<%= datePattern %>">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col col-md-4 col-xl-3 mb-3">
                                <label for="time" class="form-label">Time<sup class="text-danger">*</sup></label>
                                <input type="time" name="time" value="<%= webinar?.time%>" id="time" placeholder="Time"
                                    class="form-control rounded-0" min="00:00" max="24:00">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col col-md-4 col-xl-3 mb-3">
                                <label for="duration" class="form-label">Duration</label>
                                <input type="Number" name="duration" value="<%= webinar.duration %>" id="duration"
                                    placeholder="Time" class="form-control rounded-0">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col col-md-4 col-xl-3 mb-3">
                                <label for="seotitle" class="form-label">SEO Title<sup class="text-danger">*</sup>
                                </label>
                                <input type="text" name="seotitle" value="<%= webinar.seotitle%>" id="seotitle"
                                    placeholder="SEO Title" class="form-control rounded-0" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col col-md-4 col-xl-3 mb-3">
                                <label for="slug" class="form-label">Slug detail</label>
                                <input type="text" name="slug" value="<%= webinar.slug%>" id="slug"
                                    placeholder="sort-description" class="form-control rounded-0" />
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col col-md-4 col-xl-3 mb-2">
                                <label for="image">Image</label>
                                <input type="file" class="form-control rounded-0" name="image"
                                    value="<%= webinar.image%>" id="image">
                            </div>


                            <div class="col col-md-4 col-xl-3 mb-2">
                                <label for="urlofseminar" class="form-label">Recording Url</label>
                                <input type="text" name="urlofseminar" id="urlofseminar"
                                    placeholder="Recorded webinar or seminar link." value="<%=webinar.urlofseminar%>"
                                    class="form-control rounded-0">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col col-md-5 col-xl-4 mb-3">
                                <label for="description" class="form-label">Overview</label>
                                <textarea name="description" id="description" class="form-control rounded-0" cols="30"
                                    rows="3" placeholder="Overview"><%= webinar.description %></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <!-- text fields -->
                            <div class="form-group mb-3 mx-3">
                                <label for="advantageous" class="form-label">Why Should You Attend</label>
                                <textarea id="my-expressjs-tinymce-app" name="advantageous" class="form-control"
                                    placeholder="Why Should You Attend:"><%=webinar.advantageous %></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group mb-3 mx-3">
                                <label for="abouttopic" class="form-label">Areas Covered in the Webinar</label>
                                <textarea name="abouttopic" id="my-expressjs-tinymce-app" class="form-control"
                                    placeholder="Areas Covered in the Webinar"><%=webinar.abouttopic %></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group mb-3 mx-3">
                                <label for="bestfor" class="form-label">Who Will Benefit</label>
                                <textarea name="bestfor" id="my-expressjs-tinymce-app" class="form-control"
                                    placeholder="Who Will Benefit"><%=webinar.bestfor %></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group mb-3 mx-3">
                                <label for="agenda" class="form-label">Agenda,In case of seminar only</label>
                                <textarea id="my-expressjs-tinymce-app" name="agenda"
                                    class="form-control"><%- webinar.agenda %> </textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <!-- End -->

                        </div>
                        <p class="text-muted"><sup class="text-danger">*</sup> All fields are required.</p>
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap Form Validation Plugin -->
    <%- include('../partials/form-validation') %>

        <%- include("../layouts/footer"); -%>