<%- include("../layouts/header"); -%>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Verify</th>
            </tr>
        </thead>
        <tbody>
            <% user?.forEach((u)=>{ %>
                <tr>
                    <td>
                        <%=u?.firstname %>
                    </td>
                    <td>
                        <%=u?.email %>
                    </td>
                    <td>
                        <%=u?.phone %>
                    </td>
                    <td>
                        <%=u?.verify %>
                    </td>
                </tr>
                <%}) %>
        </tbody>
    </table>
    <%- include("../layouts/footer"); -%>