<%- include("./layouts/header"); -%>

    <div class="container-fluid my-3">
        <div class="row">
            <div class="col filter-grid">
                <h3 class="mt-2">Filter By:</h3>
                <h4>Industry</h4>
                <ul class="list-group rounded-0 mb-3">
                    <%department.forEach(e=>{%>
                        <li class="list-group-item font-sans-serif fw-bold fs-md-0">
                            <input class="form-check-input me-1" type="checkbox" name="categoryId" id="category"
                                value="<%=e._id%>" <%=(categoryNames?.includes(e.nameofdepartment))?'checked':''%> />
                            <%= e.nameofdepartment %>
                        </li>
                        <% }) %>
                </ul>
                <!-- Filtering By Month -->
                <h4>Month</h4>
                <ul class="list-group rounded-0 mb-3">
                    <li class="list-group-item font-sans-serif fw-bold fs-md-0">
                        <input class="form-check-input me-1" type="checkbox" value="current" name="month" id="month"
                            <%=selectedMonth.includes('current')?'checked':'' %>/>
                        Current Month
                    </li>
                    <li class="list-group-item font-sans-serif fw-bold fs-md-0">
                        <input class="form-check-input me-1" type="checkbox" value="next" name="month" id="month"
                            <%=selectedMonth.includes('next')?'checked':'' %>/>
                        Next Month
                    </li>
                    <li class="list-group-item font-sans-serif fw-bold fs-md-0">
                        <input class="form-check-input me-1" type="checkbox" value="nextofnext" name="month" id="month"
                            <%=selectedMonth.includes('nextofnext')?'checked':'' %>/>
                        Next of Next Month
                    </li>
                </ul>
            </div>
            <div class="col">
                <!-- ============================================-->
                <!-- <section> begin ============================-->
                <section class="py-6">
                    <div class="container">
                        <div class="row">
                            <% allWebinar.filter(({status})=> status == 'Live').forEach((doc)=> { %>
                                <%- include('./partials/productGrid', {doc}) %>
                                    <%})%>
                        </div>
                    </div>
                    <!-- end of .container-->

                    <div class="container">
                        <div class="row">
                            <% recordedWebinar=allWebinar.filter(({status})=> status == 'Recorded') %>
                                <% if (recordedWebinar.length) { %>
                                    <h1 class="header-title display-4 header text-start mb-5"> RECORDED</h1>
                                    <% } %>
                                        <% recordedWebinar.forEach((doc)=> { %>
                                            <%- include('./partials/productGrid', {doc}) %>
                                                <%})%>
                        </div>
                    </div>
                    <!-- end of .container-->

                </section>
                <!-- <section> close ============================-->
                <!-- ============================================-->
            </div>
        </div>
    </div>

    <!-- script to manipulate query -->
    <%- include('partials/productFilter.ejs');%>

        <%- include("./layouts/footer"); -%>