<%- include("./layouts/header"); -%>

    <div class="py-5 py-lg-8 px-lg-9" style="background-color:#10203F;">
        <div class="card py-5">
            <div class="card-body ">
                <h2 class="card-title mb-4 ps-6">
                    <%= webinar.title %>
                </h2>
                <div class="ps-6">

                    <h5 class="card-subtitle mb-2 text-muted">Product ID: #<%= webinar.webinarId %>
                    </h5>
                    <h4 class="card-subtitle mb-2 text-muted">Instructor: <a href="#instructor"
                            class="d-inline nav-link">
                            <%= webinar.name %>
                        </a>
                    </h4>
                    <% if (webinar.status=='Live' ) { %>
                        <h4 class="card-subtitle mb-2 text-muted text-start">
                            Date: <%= webinar?.showingDate %>
                        </h4>
                        <h4 class="card-subtitle mb-2 text-muted text-start">
                            Time: <%= webinar?.addtiminginpacific %> PST
                                | <%= webinar?.addtimingineastern %> EST
                        </h4>
                        <% } %>
                            <h4 class="card-subtitle mb-2 text-muted">Duration: <%= webinar.duration %> min</h4>
                </div>

            </div>
        </div>
    </div>
    <section class="container-xxl px-md-4 px-lg-9">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Overview</h2>
                        <h4 class="card-subtitle fw-semibold mt-2 text-muted">
                            <p>
                                <%- webinar.description %>
                            </p>
                        </h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Why you should attend ? </h2>
                        <h4 class="card-subtitle fw-semibold mt-2 text-muted">
                            <%- webinar.advantageous %>
                        </h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Areas Covered</h2>
                        <h4 class="card-subtitle fw-semibold mt-2 text-muted">
                            <%- webinar.abouttopic %>
                        </h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Who will benefit ?</h2>
                        <h4 class="card-subtitle fw-semibold mt-2 text-muted">
                            <%- webinar.bestfor %>
                        </h4>
                    </div>
                </div>

            </div>
            <!-- Side bar  -->
            <div class="col-md-4">
                <div class="container-fluid p-0 mb-3">
                    <style>
                        input[type='checkbox'] {
                            --wh-size: 20px;
                            width: var(--wh-size);
                            height: var(--wh-size);
                        }
                    </style>
                    <h4>Purchase Options</h4>
                    <form title="purchasePlans" action="/cart/<%= webinar._id%>" method="post">

                        <div class="input-group mb-3">
                            <select class="form-select rounded-0 py-0 bg-soft-secondary" name="purchasecategory"
                                style="height: 48px;">

                                <% purchases.forEach((purchase)=>{%>
                                    <option value="<%= purchase.nameofpurchase %>">
                                        <%= purchase.nameofpurchase %> ($<%= purchase.price %>)
                                    </option>
                                    <%})%>

                            </select>
                        </div>
                        <% if (webinar?.archive) { %>
                            <h5>Product unavailable.</h5>
                            <% } else{%>
                                <button type="submit" class="btn btn-secondary fw-normal">Add to Cart</button>
                                <% } %>
                    </form>

                </div>
                <hr />
                <div class="container-fluid p-0 mb-3">
                    <h4>Enquery:</h4>
                    <form action="/customer-feedback/enquery" method="post">
                        <div class="mb-3 ">
                            <input type="text" class="form-control rounded-0" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <div class="mb-3 ">
                            <input type="email" class="form-control rounded-0" id="email" aria-describedby="emailMsg"
                                placeholder="john@example.com" required>
                            <div id="emailMsg" class="form-text">
                                We'll never share your email with anyone else.
                            </div>
                        </div>
                        <div class="mb-3 ">
                            <input type="tel" class="form-control rounded-0" id="phone" placeholder="+129857342305"
                                minlength="10" maxlength="10" required>
                        </div>
                        <div class="mb-3 ">
                            <textarea class="form-control rounded-0" id="message" rows="3" placeholder="Type here..."
                                required></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <div class="g-recaptcha" data-sitekey="<%= process.env.GOOGLE_SITE_KEY%>"></div>
                            <br />
                            <p class="text-danger">
                                <%= !captcha_error ? captcha_error:'' %>
                            </p>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>
                <hr />
                <div class="container-fluid p-0 mb-3">
                    <style>
                        .hover-light:hover {
                            color: #fff !important;
                        }
                    </style>
                    <button class="btn btn-outline-secondary text-dark hover-light" type="submit">Download
                        Brochure</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Instructor Details -->
    <section id='instructor' class="container-fluid bg-soft-primary mb-6 px-md-4 px-lg-9">
        <h4 class="text-center">Instructor</h4>
        <div class="card mb-3 bg-transparent w-100 w-md-75 mx-auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="<%= webinar.portfolio?.image?.filename?'/images/'+webinar.portfolio.image.filename: webinar.portfolio?.image?.url %>"
                        class="img-fluid rounded-0" alt="<%= webinar?.portfolio?.name %>" width="180px" height="200px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">
                            <%= webinar?.portfolio?.name || '{Instructor Name}' %>
                        </h3>
                        <p class="card-text h5">
                            <%= webinar?.portfolio?.description || '{Instructor Detail}' %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Instructor Details End-->
    <!-- Category catalog -->
    <section class="container-xxl px-md-4 px-lg-9 py-3">
        <div class="row">
            <% if (webinars.length) { %>
                <h3 class="mb-2">Related Topics</h3>
                <% } %>
                    <%webinars.forEach((webinar)=> { %>
                        <div class="col-sm-6 col-lg-3 mb-4 scale">
                            <div class="card border-0 h-100">
                                <div class="position-relative">
                                    <img class="w-100"
                                        src="<%= webinar.image.filename? '/images/'+webinar.image.filename : webinar.image.url%>"
                                        alt="<%= webinar.image.filename%>" width="250" height="230" />
                                    <div class="course-logo">
                                        <img src="<%= webinar?.portfolio?.image?.filename? '/images/'+webinar?.portfolio?.image?.filename : webinar?.portfolio?.image?.url%>"
                                            alt="logo" width="68" height="68" />
                                    </div>
                                </div>
                                <div class="card-body px-0 py-3">
                                    <h5
                                        class="mb-1 font-sans-serif fw-bold fs-md-0 fs-lg-1 <%= webinar.title.length<26? 'mb-5':''%>">
                                        <%= webinar.title.slice(0,75) %>
                                    </h5>
                                    <% if (webinar.status=='Live' ) { %>
                                        <p class="fw-medium mb-2 text-secondary" style="font-size: 1rem !important;">
                                            Instructor: <%= webinar?.portfolio?.name %>
                                        </p>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            Date: <%= webinar.showingDate %>
                                        </h6>

                                        <h6 class="card-subtitle mb-2 text-muted text-start">
                                            Time: <%= webinar?.addtimingineastern %> EDT | <%=
                                                    webinar?.addtiminginpacific %> PDT
                                        </h6>
                                        <% } %>
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                Duration: <%= webinar.duration %> min
                                            </h6>

                                            <a class="text-muted fs--1 stretched-link text-decoration-none product"
                                                href="/<%= webinar.types=='Seminar'?'seminar': 'webinar'%>/<%=webinar.webinarId%>/<%=webinar.slug%>">
                                                <%= webinar.category %>
                                            </a>
                                </div>
                            </div>
                        </div>
                        <%})%>
        </div>
    </section>
    <!-- Category catalog End -->


    <!-- Google reCaptcha verification plugin -->
    <%- include('partials/reCaptcha') %>
        <%- include("./layouts/footer"); -%>