<%- include('layouts/header');%>

    <section class="container-lg">
        <div class="row">
            <div class="col col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Consulting</h2>
                        <p class="card-subtitle fw-normal fs--4 mt-2 text-justify">
                            No two businesses are exactly alike and neither are the challenges they face. Compliance
                            teams need continuous support and knowledge sharing to stay on top of global regulatory
                            initiatives. Strengthen your compliance program with our global team of compliance
                            professionals. Our team helps you to navigate the evolving regulatory landscape while
                            considering the complexity of your firm's unique compliance requirements.
                            <br /><br />
                            Our team of industry experts help clients determine whether their compliance programs are
                            truly effective in preventing, detecting and addressing a wide array of compliance issues.
                            In addition to compliance audits, assessments and effectiveness reviews, our consultants
                            also regularly conduct compliance investigations, assist in the development and revision of
                            compliance policies and procedures, and provide training on a wide range of compliance
                            topics. Our consultants apply proven expertise to help our clients identify potential risks
                            across a broad spectrum of business opportunities and then develop and implement creative,
                            innovative solutions.

                        </p>
                    </div>
                    <div class="px-3">
                        <h4>Some of the services we provide:</h4>
                        <ul>
                            <li>Compliance Program Development and Enhancement</li>
                            <li>Compliance Program Reviews, Mock Exams, and Gap Analysis</li>
                            <li>Regulatory Inspection Support Services</li>
                            <li>Compliance Training and Education</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col col-sm-4 pt-3">
                <h4>Expert assistance:</h4>
                <form action="/customer-feedback" method="post">
                    <div class="mb-3">
                        <input type="text" id="name" name="name" class="form-control rounded-0" required
                            placeholder="Your Name" />
                    </div>
                    <div class="mb-3">
                        <input type="email" id="email" name="email" class="form-control rounded-0" required
                            placeholder="eg: john@example.com" />
                    </div>
                    <div class="mb-3">
                        <input type="tel" id="phone" name="phone" class="form-control rounded-0" required
                            placeholder="+129299309321" minlength="10" maxlength="10" />
                    </div>
                    <div class="mb-3">
                        <input type="text" id="business" name="company" class="form-control rounded-0" required
                            placeholder="Company Name" />
                    </div>
                    <div class="mb-3">
                        <input type="text" id="industry" name="industry" class="form-control rounded-0" required
                            placeholder="Job Industry" />
                    </div>
                    <div class="mb-3">
                        <textarea type="text" id="message" name="message" class="form-control rounded-0"
                            placeholder="Mention your area in which you're looking for traninig or assistance." rows="3"
                            required></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <div class="g-recaptcha" data-sitekey="<%= process.env.GOOGLE_SITE_KEY%>"></div>
                        <br />
                        <p class="text-danger">
                            <%= (typeof captcha_error=='undefined' )? '' :captcha_error %>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>

            </div>
    </section>
    <!-- Contact Detail -->
    <section class="container-fluid bg-soft-primary px-md-4 pt-4 pb-7 shadow">
        <div class="card bg-transparent">
            <div class="card-body">
                <h2 class="card-title">Contact Us</h2>
                <p class="card-text fs-2 d-inline me-4"><i class="bi bi-telephone-fill"></i> Call Us: <a
                        href="tel:+11239237988" class="text-decoration-none"> +11239237988</a> </p>
                <p class="card-text fs-2 d-inline"><i class="bi bi-envelope-fill"></i> Email: <a
                        href="mailto:contact@skillpreceptor.com" class="text-decoration-none">
                        contact@skillpreceptor.com</a>
                </p>
            </div>
        </div>
    </section>
    <!-- Google reCaptcha verification plugin -->
    <%- include('partials/reCaptcha') %>
        <%- include('layouts/footer');%>