<%- include('../layouts/header') %>

    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/userSideBar') %>
            </div>
            <div class="col col-9">
                <hr />
                <div class="card">
                    <%- purchase_history.length?'':'<h4 class="text-center mt-5">No Credentials Found.</h4>' %>
                        <%purchase_history.forEach(e=> { %>
                            <% if(e?.product?.status=="Live" ) {%>
                                <div class="row">
                                    <p class="col-3 card-subtitle fs-2 mb-3">ProductId: </p>
                                    <p class="col-9 card-subtitle fs-2 mb-3">
                                        <%=e.product.webinarId %>
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-3 card-subtitle fs-2 mb-3">Webinar Name: </p>
                                    <p class="col-9 card-subtitle fs-2 mb-3">
                                        <%=e.product.title %>
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-3 card-subtitle fs-2 mb-3">Time & Duration: </p>
                                    <p class="col-9 card-subtitle fs-2 mb-3">
                                        <%=e.product.addtiminginpacific%> PST |<%=e.product.addtimingineastern%> EST |
                                                <%=e.product.duration %> Minutes
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-3 card-subtitle fs-2 mb-3">Date: </p>
                                    <p class="col-9 card-subtitle fs-2 mb-3">
                                        <%=e.product.showingDate%>
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-3 card-subtitle fs-2 mb-3">Speaker: </p>
                                    <p class="col-9 card-subtitle fs-2 mb-3">
                                        <%=e.product.name%>
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-3 card-subtitle fs-2 mb-3">Joining Link: </p>
                                    <a class="col-2 nav-link card-subtitle fs-2 mb-3" href="<%=e.product.liveLink %> ">
                                        Click Here </a>
                                </div>

                                <% } %>
                                    <% }) %>

                </div>
            </div>

        </div>

    </section>


    <%- include('../layouts/footer') %>