<%- include("../layouts/header"); -%>

    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/userSideBar')%>
            </div>
            <div class="col col-9">
                <div class="card">
                    <%if(!purchase_history.length){%>
                        <h4 class="text-center mt-5">No purchase history.</h4>
                        <%}else{%>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Topic Title</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Payment Method</th>
                                        <th scope="col">Invoice</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <%purchase_history.forEach((item)=>{%>
                                        <tr>
                                            <th scope="row">
                                                <%= item?.product?.title%>
                                            </th>
                                            <td>
                                                <%=item?.date %>
                                            </td>
                                            <% total=item.purchaseOrder.reduce((acc,curr)=> acc+curr.totalPrice,0)%>
                                                <% if(item.discount<1) {%>
                                                    <td>$<%= total-(total*item.discount)%>
                                                    </td>
                                                    <% } else{%>
                                                        <td>$<%= total-item.discount %>
                                                        </td>

                                                        <% } %>
                                                            <td>
                                                                <%=item.method %>
                                                            </td>
                                                            <td><a href="/user/dashboard/download/invoice/<%= item?._id %>"
                                                                    class="nav-link" target="_blank">Download</a>
                                                            </td>
                                        </tr>
                                        <%})%>
                                </tbody>
                            </table>
                            <%}%>
                </div>
            </div>
        </div>
    </section>
    <%- include("../layouts/footer"); -%>